<mat-grid-list cols="4" rowHeight="2:1" [responsive]="responsive" (responsiveColsChange)="cols = $event">

  <!-- <mat-grid-tile>
    <div class="images">
      <a [routerLink]="['/home/vehicles']" routerLinkActive="active-list-item">
        <img src="./assets/img/vehicle.svg" alt="vehicles" width="80%" height="80%">
        <div class="caption">Vehicles</div>
      </a>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="images">
      <a [routerLink]="['/home/drivers']" routerLinkActive="active-list-item">
        <img src="./assets/img/driver.svg" alt="drivers" width="80%" height="80%">
        <div class="caption">Drivers</div>
      </a>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="images">
      <a [routerLink]="['/home/vendors']" routerLinkActive="active-list-item">
        <img src="./assets/img/vendor.svg" alt="vendor" width="80%" height="80%">
        <div class="caption">Vendors</div>
      </a>
    </div>
  </mat-grid-tile> -->


</mat-grid-list>
