.toolbar-fullscreen {
  display: none;
}

.toolbar-filler {
  flex: 1 1 auto
}

.toolbar{
  background-color: #4b89ff;;
  color: #ffffff ;
}
.toolbar_menu{
  background-color: #2163da;;
  color: #ffffff ;
}

.active-list-item {
  color: #3F51B5 !important; /* Note: You could also use a custom theme */
}

.app-content{
  width: 100% ;
display: block;
position: relative;
}
.app-contentshow{
  width: 84% ;
  display: block;
  position: relative;
  opacity: 0.6;
  margin-left: 15%;
}
.app-sidenav{

display:none;
}

.app-sidenavshow{
  position: absolute;
  display:inline-block;
  z-index: 9999;
  width: 15%;
height: 100vh;
background-color:#ffffff;

}

@media screen and (min-width: 600px){
  .app-content{
    width: 100% ;
  display: block;
  position: relative;
  }
  .app-contentshow{
    width: 85% ;
    display: block;
    position: relative;
    opacity: 0.6;
    margin-left: 15%;
  }
  .app-sidenav{
  display:none;
  }
  
  .app-sidenavshow{
    position: absolute;
    display:inline-block;
    z-index: 9999;
    width: 15%;
     height: 100vh;
     border-right: solid 1px #b2b1b5;

  }
}
@media screen and (max-width: 600px){
  .app-sidenavshow{
    width: 100%;
  }

  .app-contentshow{
    display: none;
  }

  .app-content{
    width: fit-content;
 
  }

}



