<!-- PatienInfo Section -->


    <h2 fxLayoutAlign="center">Patient Information</h2>

    <div *ngIf="patientModel"  style="width: 30%; margin-left: 11%;">

      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
            <h4>  Personal data</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <b>Code:</b> {{patientModel.code }}       <p></p>
          <b>Name:</b> {{patientModel.name }}      <p></p>
          <b>  Marital Status:</b> {{patientModel.maritalStatus }}      <p></p>
          <b> Phone 1:</b> {{patientModel.phone1 }}      <p></p>
          <b> Phone 2:</b> {{patientModel.phone2 }}      <p></p>
          <b> Occupation:</b> {{patientModel.occupation }}      <p></p>
          <b> Birthday :</b> {{patientModel.birthday |  date: 'dd/MM/yyyy' }}     <p></p>
          <b> Knowing :</b> {{patientModel.knowing }}      <p></p>
          <b> Residence :</b> {{patientModel.residence }}      <p></p>


        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
             <h4> Husband Data</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>

           <b>Name:        </b>{{patientModel.husbandName }}<p></p>
           <b>Occupation : </b>{{patientModel.husbandOccupation }}<p></p>
           <b>Birthday :   </b>{{patientModel.husbandBirthday |  date: 'dd/MM/yyyy'}}<p></p>
           <b>Phone :      </b>{{patientModel.husbandPhone }} <p></p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
          <h4>    General Data</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>

         <b>Blood Group:</b> {{patientModel.bloodGroup }} <p></p>
         <b>BMI:        </b> {{patientModel.bmi }}<p></p>
         <b>Children:   </b> {{patientModel.children }}<p></p>
         <b>Weight:     </b> {{patientModel.weight }}   <p></p>
         <b>Smoking:    </b>     {{patientModel.smoking }}      <p></p>

        </mat-expansion-panel>

      </mat-accordion>
    </div>

  <hr>
<!-- visit Info -->
<form autocomplete="off" [formGroup]="addPrescriptionForm">
  <div fxLayout>
    <div fxFlex="25%" fxFlexOffset="10%">
      <mat-form-field>
        <mat-label>Visit Date </mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dataItem.visitDate" formControlName="visitDate" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="hasError('visitDate', 'required')"> Visit date  Is Required</mat-error>

      </mat-form-field>
    </div>
    <div fxFlex="25%" fxFlexOffset="2%">
      <mat-form-field>
        <mat-label>Next Visit Date </mat-label>
        <input matInput  formControlName="nextVisitDate" [(ngModel)]="dataItem.nextVisitDate" [matDatepicker]="pickerNext" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="pickerNext"></mat-datepicker-toggle>
        <mat-datepicker #pickerNext></mat-datepicker>
        <mat-error *ngIf="hasError('nextVisitDate', 'required')">Next visit date  Is Required</mat-error>
      </mat-form-field>
    </div>

     <div fxFlex="25%" fxFlexOffset="2%">
      <mat-form-field>
        <mat-label>Visit Type </mat-label>

      <mat-select   formControlName="visitType"   [(ngModel)]="dataItem.visitType">
        <mat-option *ngFor="let type of visitTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
     <mat-error *ngIf="hasError('visitType', 'required')">Visit Type  Is Required</mat-error>
      </mat-form-field>
    </div>

  </div>
  <div fxLayout>
    <div fxFlex="70%" fxFlexOffset="10%">
    <mat-form-field appearance="outline">
      <mat-label> Diagonsis </mat-label>
      <textarea rows="6" cols="10"  formControlName="diagonsis" [(ngModel)]="dataItem.diagonsis" style="resize: none;" matInput  placeholder="Diagonsis">
       </textarea>

     <mat-error *ngIf="hasError('diagonsis', 'required')">Diagonsis  Is Required</mat-error>
  </mat-form-field>
  </div>
</div>
</form>
<!-- Prescription Medicines -->
<div >
  <h2 fxLayoutAlign="center">Prescription Medicines</h2>
  <div *ngIf="patientModel"  style="margin-left: 10%;">
     <table mat-table [dataSource]="dataSource" matSort >

      <ng-container matColumnDef="medcinename">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.medicineType}} </td>
      </ng-container>


      <ng-container matColumnDef="frequency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Frequency </th>
        <td mat-cell *matCellDef="let element"> {{element.frequency}} </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
        <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
      </ng-container>



      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [style.background-color]="black" (click)="viewMedicine(element)">
            <mat-icon aria-label="Show">remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editMedicine(element)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteMedicine(element)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>




      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


  </div>
  <div fxLayout fxLayoutAlign="center">

    <button class="add-input" mat-fab (click)="addMedicine()" color="primary">
      <mat-icon>add</mat-icon>
    </button>
    </div>

</div>

<hr>

  <!-- Prescription instructions -->
<div >
  <h2 fxLayoutAlign="center">Prescription instructions</h2>
  <div *ngIf="patientModel"  style="margin-left: 10%;">
    <table mat-table [dataSource]="dataSourceInstruction" matSort >

      <ng-container matColumnDef="arabicname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Arabic Name </th>
        <td mat-cell *matCellDef="let element"> {{element.arabicName}} </td>
      </ng-container>


      <ng-container matColumnDef="englishname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> English Name </th>
        <td mat-cell *matCellDef="let element"> {{element.englishName}} </td>
      </ng-container>





      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [style.color]="black" (click)="viewInstruction(element)">
            <mat-icon aria-label="view">remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editInstruction(element)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteInstruction(element)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>




      <tr mat-header-row *matHeaderRowDef="displayedInstructionsColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedInstructionsColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


  </div>
  <div fxLayout fxLayoutAlign="center">

    <button class="add-input" mat-fab (click)="addInstruction()" color="primary">
      <mat-icon>add</mat-icon>
    </button>
    </div>

</div>

<br><hr>


 <div class="action-buttons" *ngIf="prescriptionInstructions.length>0&&prescriptionMedicines.length>0">
  <button mat-flat-button color="primary"  style="width: 100px;"  (click)="onSave()"  >Add</button>
  <button mat-flat-button color="warn"   style="width: 100px; margin-left: 2%;"  (click)="onCancelClick($event)">Cancel</button>
 </div>



<br>
<br>
<br>
<br>
