/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
background-color:#eeeeee;
}

.green-snackbar {
  background: #00857b;
  color: #ffffff;
}

.red-snackbar {
  background: #F44336;
  color: #ffffff;
}

/* table page */

.example-container {
  height: 91%;
  overflow: auto;
}

.filter-input {
  margin-left: 1%;
  margin-top: 1%;
}

button.add-input.mat-fab.mat-button-base.mat-primary {
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}

table {
  margin-left: 1%;
  margin-right: 1%;
  width: 80%;
box-shadow:5px 5px 10px 5px #5555; 
}

th.mat-sort-header-sorted {
  color: black;
}

/* time input hide clock in dialog */

svg.ng-star-inserted{
  display: none;
}

/* radio button margin */

.form-margin {
  margin-bottom: 15px;
}

@media screen and (min-width: 600px){

  .mat-paginator {
    margin-left: 1%;
    display: block;
    width: 80%;
  }
}
@media screen and (max-width: 600px){

  .mat-paginator {
    margin-left: 1%;
    display: block;
    width: fit-content;
  }
}
